@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Add New Role";
}

<h2>Add New Role</h2>
<style type="text/css">
    #tbRole, .c {
        border: double
    }
</style>
@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Role Name:</td>
            <td>@Html.EditorFor(m => m.Name)</td>
        </tr>
        <tr><td></td></tr>
        <tr><td></td><td><input type="submit" value="Create Role" /></td></tr>
        <tr><td></td></tr>
    </table>
}
